nav .navbar-form {
    width: 350px;
    float: left;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
    border: 0;
}

nav .form-group {
    width: 277px;
}

nav .form-control {
    border-left: 0;
    border-right: 0;
    height: 44px;
    box-shadow: none;
}

nav .input-group-addon {
    background-color: #fff;
    border-radius: 50%;
}

nav .input-group-addon.search {
    border-right: 0;
}

nav .input-group-addon.remove {
    border-left: 0;
}

nav .navbar-right {
    margin-top: 5px;
    margin-right: 50px;
    float: right;
}

nav ul .name {
    margin-top: 18px;
    margin-right: 30px;
}

nav .glyphicon-triangle-bottom {
    margin-top: 23px;
    font-size: 10px;
    margin-left: 10px;
}

nav .navbar-right li {
    float: left;
}

nav .navbar-nav li a {
    padding: 0;
    color: black;
}

nav .navbar-nav li a:hover {
    background: #fff;
}

nav .glyphicon-user {
    font-size: 32px;
}

.main .sideNav {
    list-style: none;
    border: 2px solid #fbddb5;
    border-top: 1px solid #fbddb5;
    border-bottom: 0;
    font-size: 20px;
    padding-left: 0;
    width: 250px;
}

.main .sideNav a {
    text-decoration: none;
    color: black;
}

.main .sideNav li {
    padding: 35px 5px;
    border-bottom: 1px solid tan;
    width: 100%;
}

.main .sideNav .glyphicon {
    float: right;
    margin-top: 2px;
}

.detail img {
    height: 100px;
    width: auto;
    margin-top: -70px;
    border: 1px solid tan;
}

.detail ul {
    display: inline-block;
    list-style: none;
    margin-left: 5%;
}

.detail ul button {
    background-color: #555;
    font-size: 14px;
    padding: 15px 35px;
    border: 0;
    color: #fff;
}

.detail ul button:hover,
.detail ul button:focus {
    background-color: gray;
}

.detail #hearts {
    margin-top: 15px;
}

.detail .glyphicon {
    font-size: 31px;
}

.detail h5 {
    border-left: 3px solid tan;
    padding: 15px 18px;
    font-size: 17px;
    margin-top: 15px;
}

.detail table {
    margin-top: 110px;
    width: 75%;
}

.detail table thead tr .headerOne {
    padding-right: 50px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fffcf7;
}


/* @mobile RWD Use */

@media only screen and (max-width: 1023px) {
    .main .sideNav {
        width: 100%;
    }
}

@media only screen and (max-width: 1023px) {
    .main .sideNav {
        width: 100%;
    }
    .container-fluid {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media only screen and (max-width: 340px) {
    .detail img {
        margin-top: 0;
        margin-bottom: 10px;
        margin-left: 80px;
    }
}